@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
}

body {
    background-color: black;
    color: white;
}
  
header {
    text-align: center;
    padding: 40px 0;
}
  
.logo {
    width: 180px;
    height: auto;
}
  
.title h1 {
    font-size: 50px;
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 65vh;           
    text-align: center;
}

.timer {
    display: flex;
    gap: 20px;
    justify-content: center;
    font-size: 3rem;
    letter-spacing: 2px;
}
  
.timer div {
    display: flex;
    flex-direction: column;
}
  
.timer span {
    font-weight: bold;
    font-size: 3rem;
    width: 60px;
    text-align: center;
}

@media screen and (max-width: 430px) {
    .title h1 {
        height: 57vh;
        font-size: 20px;
    }
    .timer {
        gap: 0;
        height: 10vh;
        margin-top: 12vh;
        letter-spacing: 5px;
    }
}
